#jumbotron {
  margin-left: 10%;
  position: relative;
}

#jumbo-words {
  position: absolute;
  color: #fff;
  font-weight: bold;
  padding-left: 25px;
  bottom: 0;
}

#jumbo-image {
  width: 90%;
}
